.container {
    width: 1300px;
    margin: 0 auto;
}
body {
    background-image: linear-gradient(140deg, rgb(255, 162, 255), skyblue, rgb(255, 255, 78), rgb(141, 254, 141));;
}
.title {
    text-align: center;
    background-color: rgba(240, 255, 255, 0.827);
    padding: 20px 0;
    font-size: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    margin: 40px 0 60px 0;
}
.film {
    width: 1000px;
    background-color: white;
    margin: 20px auto;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    padding: 30px;
    display: flex;
}
.film:hover {
    width: 1050px;
    background-color: aliceblue;
    transition: 0.4s;
}
.film-img {
    border-radius: 20px;
    margin-right: 30px;
}
.film-title {
    font-size: 40px;
}
.film-text {
    font-size: 24px;
}
.bold {
    font-weight: 700;
    font-size: 26px;
}
.watch-it {
    text-align: center;
}
.watch-the-film {
    text-align: center;
}
.button {
    text-align: center;
}
.trailer {
    text-align: center;
}
